<h2>Nova Clínica</h2>

<form action="/clinicas" method="POST">
  <label for="nome">Nome:</label>
  <input type="text" name="nome" id="nome" required>

  <label for="cnpj">CNPJ:</label>
  <input type="text" name="cnpj" id="cnpj" required>

  <label for="endereco">Endereço:</label>
  <input type="text" name="endereco" id="endereco" required>

  <button type="submit">Criar Clínica</button>
</form>
