<h2>Novo Paciente</h2>

<form action="/pacientes" method="post">
  <label>Nome:</label>
  <input type="text" name="nome" required>

  <label>Email:</label>
  <input type="email" name="email" required>

  <label>Telefone:</label>
  <input type="text" name="telefone" required>

  <label>Senha:</label>
  <input type="password" name="senha" required>

  <label>CPF:</label>
  <input type="text" name="cpf" required>

  <label>Data de Nascimento:</label>
  <input type="date" name="data_nascimento" required>

  <button type="submit">Salvar</button>
</form>
